!!! 5
%html
  %head
    %title= title
    
    %meta{charset: "utf-8"}
    %meta{name: "description", content: title}
    %meta{name: "author", content: "Peter Schröder"}
    %meta{name: "language", content: "german, de"}
    %meta{'http-equiv' => "refresh", content: "300; URL=/"}
    
    %link{rel: 'stylesheet', href: "/css/application.css?#{Time.now.to_i}", type: 'text/css'}
    %link{rel: 'shortcut icon', href: '/img/icon.png'}
    
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", type: "text/javascript"}
    %script{src: "/js/application.js?#{Time.now.to_i}", type: "text/javascript"}

  %body
    %section
      %h2 Faselcharts:
      %ul
        - @cites[0..2].each do |cite|
          %li
            %p= link_to_vote(cite, :faselcharts)

    %section
      %h2 Faselzufall:
      %p#cite= link_to_reload(@random_cite)
      #backup.hidden
        %ul
          - @cites.each do |cite|
            %li= cite(cite)

    %section#search
      %h2 Faselsuche:
      %div#searchwrapper
        %form
          %input.searchbox{type: "text", name: "s", placeholder: "Mach mal nen Satz dr...", value: @search_term}
      %p
        %a.showAll{href: '#'} Alle anzeigen
      %ul
        - @cites.each do |cite|
          %li.hidden
            %p= link_to_vote(cite, :faselsearch)

    %footer
      %h3
        Brought to you by:
        %a.jedbeard{href: "http://twitter.com/jedbeard"} @jedbeard


    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2711231-9']);
      _gaq.push(['_setDomainName', '.faselcharts.de']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

